@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-900);
    margin: 0;
}

main {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: var(--white);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(72%, 18rem);
    background-color: var(--grey-800);
    padding: 2rem;
    border-radius: 0.7rem;
}

.profile-image {
    width: clamp(70px, 25%, 200px);
    border-radius: 100%;
    margin-block-end: 1rem;
}

.name {
    font-size: 135%;
    font-weight: 500;
    margin: 0.25rem 0;
}

.location {
    font-size: 78%;
    color: var(--green);
    margin: 0.25rem 0;
}

.description {
    font-size: 85%;
    font-weight: 400;
    text-align: center;
    margin: 1.5rem 0;
}

.link-container {
    width: 100%;
}

.link {
    display: flex;
    justify-content: center;
    font-size: 75%;
    font-weight: 700;
    background-color: var(--grey-700);
    border-radius: 0.6rem;
    padding: 0.8rem 1rem;
    margin-block-end: 0.84rem;
    transition: 100ms ease-in;
}

.link:hover {
    background-color: var(--green);
    color: var(--grey-800);
    cursor: pointer;
}

.last {
    margin-block-end: 0;
}
